html {
  background-color: #403D39;
  box-sizing: border-box;
  padding: 10px;
}
div {
  background-color: #403D39;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: .25em;
  margin-bottom: .75em;
  color: #FFFCF2;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5)
}

a {
  text-decoration: none !important;
}
button {
  outline: none !important;
}

.add-friend-button {
  box-sizing: border-box;
  height: 50px;
  font-size: 1.25rem;
  background-color: #EB5E28;
  color: white;
  font-weight: bolder;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-bottom: 1em;
  width: 20%;
  outline:none;
  cursor: pointer;
}